/*style.css*/
body {
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
  }
.custom-nav{
  margin-top: -22px;
  color: #455A64;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
